/*.galogo {
  width: 40px;
  height: 100px;
  background-image: url('general-assembly.png');
  background-size: 40px;
  background-repeat: no-repeat;
  float: left;
  margin: 10px;
}
.tweet {
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: none;
  float: right;
}*/
/*.twittericon {
  background-image: url('twittericon.png');
  background-repeat: no-repeat;
  height: 50px;
  background-size: 40px;
}*/

/*.truckbox {
  height: 155px;
  border-top: 1px solid grey;
  padding: 0px;
  overflow: scroll;
}
.gloungeicon {
  width: 40px;
  height: 100px;
  background-image: url('glounge.jpeg');
  background-size: 40px;
  background-repeat: no-repeat;
  float: left;
  margin: 10px;
}

.tweetbox {
  margin-top: 10px;
  height: 465px;
  overflow: scroll;
  border-top: 1px solid grey;
  padding: 0px;
}
.gabox {
  border-bottom: 1px solid grey;
}

.gabox a {
  color: brown;
  text-decoration: none;
  list-style-type: none;
}
.twittertitle {
  color: black;
  margin-right: 5px;
}

.handle {
  color: grey;
  font-size: 13px;
}
.time {
  color: grey;
  font-size: 11px;
  position: relative;
  top: -5px;
}*/