$border: 1px solid #ccc;

@mixin icon($size){
  width: $size;
  height: $size;
  overflow: hidden;
  border-radius: 50%;
}

.edit-form,
.show-user,
.show-all {
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  margin-top: 10px;
  box-shadow: .5px .5px 4px #191919;
}
.show-user .pic-container {
   @include icon(200px);
}
.loggedin .pic-container {
  @include icon(60px);
  margin-right: 15px;
}
.show-all .pic-container {
  @include icon(100px);
  margin: 0 auto;
}
.pic-container a {
  width: 100%;
  height: 100%;
}
.profile-pic.landscape {
  height: 100%;
  margin-left: -25%;
}
.profile-pic.portrait {
  width: 100%;
  margin-top: -10%;
}
.show-all .user-box{
    padding: 20px;
    text-align: center;
}

.likebutton {
  height: 22px;
  width: 22px;
  float: right;
  position: relative;
  left: -2px;
  top: -19px
}

.likenumber {
  margin-left: 8px;
  position: relative;
  top: -18px;
  float: right;
}

.singleshout {
  border-bottom: 1px solid #e4e4e4;
}

.alreadybutton {
  height: 26px;
  width: 26px;
  background-image: url('greystar.png');
  background-size: 26px 26px;
  background-repeat: no-repeat;
  margin-left: 8px;
  float: right;
  position: relative;
  top: -23px;
}

.ajaxalreadybutton {
  height: 26px;
  width: 26px;
  background-image: url('greystar.png');
  background-size: 26px 26px;
  background-repeat: no-repeat;
  margin-left: 8px;
  float: right;
  position: relative;
  top: -23px;
}

.num {
  float: right;
  position: relative;
  top: -28px;
}
