<h3><a href="http://www.gfoodlounge.com/truckschedule/">Food Trucks </a></h3>
<!-- <small><%= Time.now.strftime("%A, %B %d") %></small>
 --><ul>
  <% @trucks.each do |truck| %>
    <li><a href="http://www.gfoodlounge.com<%= truck[:url] %>"><%=  truck[:title] %></a></li>
  <% end %>
</ul>