<div class="col-sm-6 col-sm-offset-3">

  <div class="about-us row">
    <div class="col-sm-5">
      <h2>About GA Dashboard</h2>
    </div>
    <div class="col-sm-7">
      <img src="http://www.starboardnet.com/images/property_photos/1409216287_width600_501_folsom_1.jpg" />
      <p>Tired of checking Twitter to see the food trucks? Not sure if you should take your hoodie to run an errand? Fret no more&mdash;GA Dashboard is here! Our project is your single stop to learn about all the happenings around 501 Folsom, and the FiDi neighborhood.</p>
      <p>This project is the brainchild of <a href="https://github.com/asbudik">Adam Budik</a> and <a href="https://github.com/smonette">Steph Monette</a> (and a crapload of diet soda.)</p>
    </div>
  </div>

</div>