<!DOCTYPE html>
<html>
<head>
  <title>GA SF - 501 Folsom</title>
  <link rel="shortcut icon" href="favicon path" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>



</head>
<body>
  <div class="container-fluid">

    <div class="row header">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-8">
            <h1><a href="/">GA Dashboard</a></h1>
          </div>
          <div class="col-sm-4">
             <% if session[:id] == nil %>
              <button class="btn btn-default btn-sm right" data-toggle="modal" data-target="#signupModal">
                Sign Up
              </button>
              <button class="btn btn-default btn-sm right" data-toggle="modal" data-target="#loginModal">
                Login
              </button>
            <% else %>
              <a href="/logout" class="btn btn-default btn-sm right">
                Logout
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="main-content">
       <div class="col-sm-10 col-sm-offset-1">
          <%= yield %>
        </div>
    </div>

    <div class="row footer">
      <div class="col-sm-10 col-sm-offset-1">
          <a href="/">Home</a><span>|</span><a href="/about">About</a>
        </div>
    </div>

  </div>


</body>
</html>
